<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{{ page.title }} | pskdje</title>
		<meta name="title" content="{{ page.title }}" />
		<meta name="type" content="post" />
		<script src="/js/script.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/css/posts.css" />
	</head>
	<body>
		<header class="top_head">
			<p class="page_title">{{ page.title }}</p>
			<p class="page_info">时间: <time>{% if page.time %}{{ page.time }}{% else %}{{ page.date }}{% endif %}</time> ,原始数据字符数: <span>{{ page.content | size }}</span></p>
		</header>
		<hr />
		<main id="body_content" class="markdown-body">{{ content }}</main>
		<nav class="page_nav">
			<div class="up item">
				<span class="tip">上一篇: </span>
				{%- if page.previous -%}
				<a class="page_link" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
				<p class="page_text" id="post_previous">{{ page.previous.excerpt | truncate:256 | strip |strip_html }}</p>
				{%- else -%}
				<span class="no_page">无</span>
				{%- endif -%}
			</div><div class="dw item">
				<span class="tip">下一篇: </span>
				{%- if page.next -%}
				<a class="page_link" href="{{ page.next.url }}">{{ page.next.title }}</a>
				<p class="page_text" id="post_next">{{ page.next.excerpt | truncate:256 | strip | strip_html }}</p>
				{%- else -%}
				<span class="no_page">无</span>
				{%- endif -%}
			</div>
		</nav>
		<footer></footer>
	</body>
</html>
